$background-color: #2d231c;

@mixin custom-btn {
    background-color: #2d231c;
    border: solid 2px #bca95c;
}

@mixin custom-btn-hover {
    background-color: #bca95c;
    border: solid 2px #2d291c;
}

body {
    background-color: #191919;
}



#top-header {
    .link {
        color: #adadad;
        text-decoration: none;
        &:hover {
            color: #d9d9d9;
        }
    }
    .link1 { 
        color: green;
        &:hover {
            color: #d9d9d9;
        }
    }
}

#about {
    .custom-btn {
        @include custom-btn;
        &:hover {
            @include custom-btn-hover;
        }
    }
}
#items{
    .custom-btn{
        @include custom-btn;
        &:hover {
            @include custom-btn-hover;
        }
    }
}

#header {
    .nav-link {
        color: #adadad;
        &:hover {
            color: #d9d9d9;
        }
    }
}
#divider {
    .divide {
        border-bottom: 2px solid #bca95c; 
    }
}
#footer{
    .link {
    color: #adadad;
    text-decoration: none;
    &:hover {
        color: #d9d9d9;
    }
}
}
#about-banner{
    background-image: url("/images/about/about-baner.png");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    height: 150px;
    h2 {
        color: #bca95c;
    }
}
#about{
    h2{
        color: #bca95c;
    }
    p{
        text-align: justify;
    }
}
#gallery{
    h1{
        color:#bca95c;
    }
}
#reserve{
    .custom{
       background-color:#bca95c;
    }
}