body {
    background-color: #191919;
}

#top-header {
    .link {
        color: #adadad;
        text-decoration: none;
        &:hover {
            color: #d9d9d9;
        }
    }
    .link1 { 
        color: green;
        &:hover {
            color: #d9d9d9;
        }
    }
}

#header {
    .nav-link {
        color: #adadad;
        &:hover {
            color: #d9d9d9;
        }
    }
}
#divider {
    .divide {
        border-bottom: 2px solid #bca95c; 
    }
}
#footer{
    .link {
    color: #adadad;
    text-decoration: none;
    &:hover {
        color: #d9d9d9;
    }
}
}